.header {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  min-height: 100px;
  transition: all 0.4s;
}
.header._shadow {
  box-shadow: 0 8px 6px -4px grey;
}
@media screen and (max-width: 1240px) {
  .header {
    min-height: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    min-height: 60px;
  }
}
@media screen and (max-width: 991px) {
  .header {
    height: 60px;
    overflow: hidden;
  }
  .header.open {
    height: 100%;
    overflow-y: auto;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 991px) {
  .header__container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 0;
  }
}
.header__logo {
  max-width: 250px;
  max-height: 100%;
  margin-right: 15px;
}
@media screen and (max-width: 1240px) {
  .header__logo {
    max-width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 180px;
  }
}
@media screen and (max-width: 575px) {
  .header__logo {
    max-width: 150px;
  }
}
.header__logo img {
  width: 100%;
  height: auto;
}
.header__nav .nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .header__nav .nav__items {
    flex-direction: column;
    padding: 40px 20px;
  }
}
.header__nav .nav__item {
  margin-right: 15px;
}
@media screen and (max-width: 1240px) {
  .header__nav .nav__item {
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .header__nav .nav__item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header__nav .nav__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .header__nav .nav__item {
    margin-bottom: 10px;
  }
}
.header__nav .nav__item:last-child {
  margin-right: 0;
}
.header__nav .nav__item a {
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease-in;
}
.header__nav .nav__item a:hover, .header__nav .nav__item a:focus-visible {
  color: #11597F;
}
@media screen and (max-width: 1240px) {
  .header__nav .nav__item a {
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav .nav__item a {
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 991px) {
  .header__nav .nav__item a {
    font-size: 16px;
  }
}
.header__burger-btn {
  display: none;
  background: transparent;
  border: 0;
}
@media screen and (max-width: 991px) {
  .header__burger-btn {
    display: block;
    position: absolute;
    z-index: 20;
    top: 12px;
    right: 20px;
  }
}

.burger-btn {
  cursor: pointer;
}
.burger-btn__bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #2B2A29;
  transition: 0.4s;
  margin-top: 5px;
  margin-bottom: 4px;
}
.burger-btn__bar_short {
  width: 15px;
  margin-left: 5px;
}
.burger-btn:last-child {
  margin-bottom: 0;
}
.burger-btn.change .burger-btn__bar:first-child {
  transform: translate(0, 7px) rotate(-45deg);
}
.burger-btn.change .burger-btn__bar:last-child {
  transform: translate(0, -7px) rotate(45deg);
}
.burger-btn.change .burger-btn__bar_short {
  opacity: 0;
}/*# sourceMappingURL=header.css.map */