@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url("/fonts/open-sans-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/open-sans-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/open-sans-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url("/fonts/open-sans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
